@import '../../vendor/variables.scss';

$bgColor: #006dff;
$bgHoverColor: #0066ed;
$secondColor: #342a85;
$secondHoverColor: #130d46;

%common {
  background-color: $secondColor;
  position: relative;
  @include adaptive(padding-left, 80, 36);
  @include adaptive(padding-right, 27, 12);
  @include adaptive(padding-top, 22, 10);
  @include adaptive(padding-bottom, 22, 10);
  &:hover {
    filter: drop-shadow(0px 20px 100px rgba(13, 4, 77, 0.58));
    background-color: $secondHoverColor;
  }
  &:active {
    background-color: $secondColor;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include adaptive(width, 32, 20);
    @include adaptive(height, 32, 20);
    @include adaptive(left, 28, 11);

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.button {
  background-color: $bgColor;
  border: none;
  color: $mainColor;
  @extend %fonts;
  @extend %fz-24;
  font-weight: 700;
  letter-spacing: $letterSpacing;
  cursor: pointer;
  padding: 18px 46px;
  @include adaptivePadding(padding, 18, 46, 14, 31);
  @include adaptive(border-radius, 10, 4);
  white-space: nowrap;
  text-overflow: ellipsis;
  &:hover {
    background-color: $bgHoverColor;
    box-shadow: 0px 20px 100px rgba(13, 4, 77, 0.58);
  }
  &:active {
    background-color: $bgColor;
  }

  &.dark {
    background-color: $secondColor;
    &:hover {
      background-color: $secondHoverColor;
    }
    &:active {
      background-color: $secondColor;
    }
  }

  &.register {
    @extend %common;
    &::before {
      background-image: url('./images/register-icon.svg');
    }
  }
  &.chat {
    @extend %common;
    &::before {
      background-image: url('./images/chat-icon.svg');
    }
  }
  &.telegram {
    @extend %common;
    &::before {
      background-image: url('./images/telegram-icon.svg');
    }
  }
  &.whatsapp {
    @extend %common;

    &::before {
      background-image: url('./images/whatsapp-icon.svg');
    }
  }
  &.card1 {
    background: #316ede;
    &:active {
      box-shadow: none;
    }
  }
  &.card2 {
    background: linear-gradient(267.58deg, #2e72e0 0%, #48bfd2 48.44%, #2e72e0 100%);
    &:active {
      box-shadow: none;
    }
  }
  &.card3 {
    background: linear-gradient(267.58deg, #df36ff 0%, #00a0be 49.48%, #0065ff 100%);
    &:active {
      box-shadow: none;
    }
  }
}
