@import '../../vendor/variables.scss';

$bgColor: #006dff;
$bgHoverColor: #0066ed;
$secondColor: #342a85;
$secondHoverColor: #130d46;

%common {
  background-color: $secondColor;
  position: relative;
  padding-right: 28px;
  padding-left: 80px;
}
%commonHover {
  filter: drop-shadow(0px 20px 100px rgba(13, 4, 77, 0.58));
  background-color: $secondHoverColor;
}
%commonActive {
  background-color: $secondColor;
}
%commonBefore {
  content: '';
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
  @include adaptive(width, 32, 32);
  @include adaptive(height, 32, 32);

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.button {
  background-color: $bgColor;
  border: none;
  color: $mainColor;
  @extend %fonts;
  @extend %fz-24;
  font-weight: 700;
  cursor: pointer;
  padding: 18px 46px;
  @include adaptivePadding(padding, 18, 46, 14, 31);
  @include adaptive(border-radius, 10, 4);
  &:hover {
    background-color: $bgHoverColor;
    box-shadow: 0px 20px 100px rgba(13, 4, 77, 0.58);
  }
  &:active {
    background-color: $bgColor;
  }
}

.button.register {
  @extend %common;
  &:hover {
    @extend %commonHover;
  }
  &:active {
    @extend %commonActive;
  }
  &::before {
    @extend %commonBefore;
    background-image: url('./images/register-icon.svg');
  }
}

.button.chat {
  @extend %common;
  &:hover {
    @extend %commonHover;
  }
  &:active {
    @extend %commonActive;
  }
  &::before {
    @extend %commonBefore;
    background-image: url('./images/chat-icon.svg');
  }
}
