@import '../../../vendor/variables.scss';

.invest {
  background-image: url('./images/invest-bg.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  @include adaptive(padding-top, 230, 55);
  @include adaptive(padding-bottom, 230, 50);
  @extend %fonts;
  font-weight: 700;
  letter-spacing: $letterSpacing;
  height: 100%;
}
.container {
  @extend %flex;
  align-items: center;

  row-gap: 40px;
  @include adaptive(margin-bottom, 59, 40);
  @media screen and (max-width: $_768) {
    flex-wrap: wrap;
  }
}
.content {
  margin-right: 10px;
  @media screen and (max-width: $_768) {
    align-self: flex-end;
  }
}

.slogan {
  @extend %slogan;
}
.title {
  @extend %title;
}
.subtitle {
  @extend %subtitle;
}
.list {
  @extend %flex;
  flex-direction: column;
  align-items: flex-start;
}
.item {
  position: relative;
  @include adaptive(padding-left, 33, 13);
  @extend %fz-24-12;
  color: $secondColor;
  @include adaptive(margin-bottom, 18, 8);
  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    @include adaptive(width, 20, 8);
    @include adaptive(height, 20, 8);
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0339a8;
    border-radius: 50%;
    @include adaptive(border-width, 3, 2);
    border-style: solid;
    border-color: $background;
  }
}
.itemTitle {
  @extend %fz-30-14;
  color: $mainColor;
  @include adaptive(margin-bottom, 13, 6);
}

.imgWrapper {
  @media screen and (max-width: $_768) {
    align-self: flex-start;
  }
}
.img {
  display: block;
}
