@import '../../../vendor/variables.scss';

.stableSystem {
  background-image: linear-gradient(0deg, #0062ed 0%, #0b0a57 141.71%);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  @include adaptive(padding-top, 230, 55);
  @include adaptive(padding-bottom, 100, 50);
  @extend %fonts;
  font-weight: 700;
  letter-spacing: $letterSpacing;
  @extend %flex;
  flex-direction: column;
}
.container {
  @extend %flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 40px;

  row-gap: 40px;

  @media screen and (max-width: $_768) {
    flex-wrap: wrap;
  }
}
.content {
  @media screen and (max-width: $_768) {
    align-self: flex-end;
  }
}

.slogan {
  @extend %slogan;
}
.title {
  @extend %title;
}
.subtitle {
  @extend %subtitle;
}
.list {
  @extend %flex;
  flex-direction: column;
  align-items: flex-start;
  @media screen and (max-width: $_768) {
  }
}
.item {
  @include adaptive(margin-bottom, 18, 8);
  position: relative;
  @include adaptive(padding-left, 33, 13);
  @extend %fz-24-12;
  color: $secondColor;

  &::before {
    content: '';
    position: absolute;
    @include adaptive(width, 20, 8);
    @include adaptive(height, 20, 8);
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0339a8;
    border-radius: 50%;
    @include adaptive(border-width, 3, 2);
    border-style: solid;
    border-color: $background;
  }
}
.itemTitle {
  @extend %fz-30-14;
  color: $mainColor;
  @include adaptive(margin-bottom, 13, 6);
}

.imgWrapper {
  @include adaptive(margin-right, 84, 0);
  @media screen and (max-width: $_768) {
    align-self: flex-start;
  }
}
.img {
  display: block;
}
