@import '../../../vendor/variables.scss';

.aboutNft {
  background-image: url('./images/about-nft-bg.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  @include adaptive(padding-top, 230, 55);
  @include adaptive(padding-bottom, 100, 50);
  @extend %fonts;
  font-weight: 700;
  letter-spacing: $letterSpacing;
  @extend %flex;
  flex-direction: column;
}
.container {
  @extend %flex;
  flex-direction: row-reverse;
  align-items: center;
  @include adaptive(margin-bottom, 88, 40);

  row-gap: 40px;

  @media screen and (max-width: $_768) {
    flex-wrap: wrap;
  }
}
.content {
  max-width: 700px;

  @media screen and (max-width: $_768) {
    align-self: flex-end;
  }
}

.slogan {
  @extend %slogan;
}
.title {
  @extend %title;
}
.subtitle {
  @extend %subtitle;
}

.itemTitle {
  @extend %fz-30-14;
  color: $mainColor;
  @include adaptive(margin-bottom, 13, 6);
}

.imgWrapper {
  @include adaptive(margin-right, 84, 0);
  @media screen and (max-width: $_768) {
    align-self: flex-start;
  }
}
.nft {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-shadow: 0px 0px 50px #ffffff;
  @include adaptive(font-size, 288, 96);
  @include adaptive(line-height, 302, 101);
}
