@import '../../../vendor/variables.scss';

.workScheme {
  background-image: url('./images/work-scheme-bg.svg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  @include adaptive(padding-top, 230, 55);
  @include adaptive(padding-bottom, 100, 50);
  @extend %fonts;
  font-weight: 700;
  letter-spacing: $letterSpacing;
  @extend %flex;
  flex-direction: column;
}
.container {
  @extend %flex;
  align-items: center;
  @include adaptive(margin-bottom, 88, 40);

  row-gap: 40px;

  @media screen and (max-width: $_768) {
    flex-wrap: wrap;
  }
}
.content {
  max-width: 717px;
  @include adaptive(margin-right, 84, 0);
  @media screen and (max-width: $_768) {
    align-self: flex-end;
  }
}

.slogan {
  @extend %slogan;
}
.title {
  @extend %title;
}
.subtitle {
  @extend %subtitle;
}

.itemTitle {
  @extend %fz-30-14;
  color: $mainColor;
  @include adaptive(margin-bottom, 13, 6);
}

.imgWrapper {
  @media screen and (max-width: $_768) {
    align-self: flex-start;
  }
}
.img {
  width: 100%;
  display: block;
}
.img2 {
  max-width: 768px;
  margin: 0 auto;
}
