@import '../../vendor/variables.scss';

.nav {
  @media screen and (max-width: $_1024) {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    height: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $background;
    row-gap: 100px;
    transition: all 0.5s ease-in-out;
  }
}
.list {
  @extend %flex;
  @include adaptive(column-gap, 40, 0);
  row-gap: 20px;
  @media screen and (max-width: $_1024) {
    flex-direction: column;
    align-items: center;
  }
}
.button {
  @media screen and (min-width: $_1024) {
    display: none;
  }
}
.active {
  @media screen and (max-width: $_1024) {
    top: 0;
    overflow-y: auto;
  }
}
